* {
    box-sizing: border-box;
    font-size: 14px;
}
ul,li{
    list-style: none;
}
a{
    text-decoration: none;
}
html, body {
    margin: 0;
    width: 100%;
    height: 100%;
}

#container {
    width: 100%;
    height: 100%;
}

aside {
    position: fixed;
    z-index: 10;
    top: 0px;
    left: 0px;
    width: 390px;
    height: 100%;

    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.23);

    background-color: white;
}

.content{
    height: 92%;
    border-bottom: 1px solid #f0f0f0;
}

#map {
    width: 100%; 
    height: 100%;
}

header {
    padding: 20px 20px 2px;
    height: 116px;
    
    background-color: #258fff;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    padding-top: 5px;

    height: 48px;
}

.title-text {
    margin: 0;
    line-height: 20px;
    font-size: 20px;
    font-weight: 400;
    color: white;

    cursor: pointer;
}

.fa-bars {
    margin-right: 10px;
    padding: 1px 0px;
    font-size: 20px;
    color: white;

    cursor: pointer;
}

.map-text {
    font-size: 20px;
    font-weight: 700;
}

.check-location {
    display: flex;
    align-items: center;
    color: white;
}

#my-location {
    display: none;
}

.my-location-label {
    margin-top: 5px;
    display: flex;
    align-items: center;
    font-size: 11px;
    
    cursor: pointer;
}

#my-location + .my-location-label::before {
    content: "";
    display: inline-block;
    margin-right: 5px;
    width: 10px;
    height: 10px;
    border: 2px solid #ffffff90;
    border-radius: 10px;
}

#my-location:checked + .my-location-label::before {
    display: inline-block;
    content: "✔";

    margin-right: 5px;
    border-radius: 10px;
    width: 10px;
    height: 10px;

    line-height: 10px;
    color: #258fff;
    font-size: 10px;
    font-weight: 700;
    background-color: white;
}


.search {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-radius: 3px;

    width: 100%;
    height: 46px;

    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    background-color: white;

    overflow: hidden;
}

.search-input {
    border: none;
    outline: none;
    padding-left: 15px;
    width: 80%;
    height: 100%;
}

.search-input::-webkit-input-placeholder {
    color: #9e9e9e;
    font-weight: 500;
}

.fa-magnifying-glass {
    padding: 15px;
    font-size: 16px;
    color: #dbdbdb;

    cursor: pointer;
}


.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0;
    padding: 0px 11px;
    height: 54px;

    background-color: #258fff;

    list-style-type: none;
}

.menu li {
    padding: 12px 9px;
}

.mainmenutab {
    display: inline-block;
    padding: 4px 7px;

    width: 56px;
    height: 30px;

    text-align: center;
    color: white;
    text-decoration: none;
}

.tab-selected {
    border-radius: 4px;
    background-color: #1467dd;
    font-weight: 700;
}

.report-error {
    border-bottom: 1px solid #f0f0f0;
    height: 84px;
    position: relative;
    padding: 25px 26px 0;
    box-sizing: border-box;
}

.location{
    font-size: 14px;
    font-weight: bold;
    color: #222;
    cursor: pointer;
}

.wt{
    display: inline-block;
    font-size: 12px;
}


.txt_bar{
    display: inline-block;
    width: 1px;
    height: 10px;
    margin: 0 2px;
    background-color: #e2e2e2;
}

.wt-num{
    display: inline-block;
    padding: 0 0 3px;
    font-weight: bold;
    font-size: 14px;
    color: #000;
}

.wt-2{
    color: #006bee;
    padding-left: 3px;
    font-size: 12px;
}



.report-bug{
    position: absolute;
    top: 21px;
    left: 322px;
    color: #999;
    cursor: pointer;
    font-size: 11px;
}


.info {
    border-bottom: 1px solid #f0f0f0;
    padding: 23px 0px 19px 19px;
    height: 120.5px;
}

.title-around {
    margin: 0;
    padding-left: 8px;
    font-size: 13px;
}

.list-around {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    list-style-type: none;

    margin: 0;
    padding: 0;
    padding-top: 8px;
}

.button-around {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    border: none;
    width: 50px;
    height: 48px;
    background-color: #ffffff00;

    cursor: pointer;
}

.button-icon {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0px 10px;
    border: 1px solid #f0f0f0;
    border-radius: 30px;
    width: 30px;
    height: 30px;

    overflow: hidden;
}

.button-icon:hover{
    background-color: #f0f0f0;
}

.button-icon i {
    color: #555555;
}

.button-title {
    font-size: 10px;
    color: #a0a0a0;
}

.toggle-button{
    position: absolute;
    top: 50%;
    right: -18px;
    
    display: flex;
    justify-content: center;
    align-items: center;

    border: none;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 0;
    width: 18px;
    height: 50px;

    box-shadow: 2px 0px 2px rgba(0, 0, 0, 0.2);
    background-color: white;

    font-size: 10px;
    color: #258fff;
    
    line-height: 0;
    transform: translateY(-50%);
    
    cursor: pointer;
}

.book-mark-box{
    width: 100%;
    height: 143px;

    padding: 24px 25px 17px 26px;
    border-bottom: 1px solid #f0f0f0;
}

.book-mark-box h3{
    margin: 0;
}

.book-mark-box h3 a{
    color: #333;
}

.book-mark{
    padding: 0;
}

.book-mark li{
    height: 28px;    
}

.book-mark-house{
    border-bottom: 1px solid #f0f0f0;
}

.book-mark-building{
    padding-top: 8px;
}

.bm:hover{
    border-bottom: 1px solid #888;
}

.book-mark li:hover{
    background-color: #258eff17;
}

.book-mark li i{
    padding-right: 8px;
    
}

.book-mark li a{
    font-size: 13px;
    color: #9e9e9e;
    text-align: center;
}

.new-place{
    width: 100%;
    height: 143px;
    margin: 0;
    padding: 24px 25px 17px 26px;
    border-bottom: 1px solid #f0f0f0;
}

.new-place h6{
    margin: 0;
    font-size: 14px;
}

.new-place p{
    margin: 0;
    padding-top: 2px;
    font-size: 12px;
    color: #888;
}

.new-place button{
    display: inline-block;
    height: 26px;
    padding: 0 9px;
    margin-top: 12px;
    border: 1px solid rgba(51,150,255,0.5);
    border-radius: 3px;
    line-height: 24px;
    text-align: center;

    background-color: #258fff;
}

.new-place a{
    color: white;
    font-size: 11px;
}

.new-place a:hover{
    border-bottom: 1px solid #fff;
}

.notice-list {
    height: 4%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.notice-list span{
    font-size: 10px;
}

.notice-list span a:hover{
    border-bottom: 1px solid #333;
}

.notice-list a{
    font-size: 12px;
    color: #333;
    
}

.notice-list a:hover{
    border-bottom: 1px solid #333;
    
}

.footer{
    height: 4%;
    background-color: #f5f5f5;
    text-align: center;
    padding-top: 10px;
    
}

.footer a{
    font-size: 12px;
    color: #333;
}

.footer a:hover{
    border-bottom: 1px solid #333;

}